<!DOCTYPE html>

<head>
    <title>Message</title>
</head>

<body>
    <div id="message">
        <%- message %>
    </div>
    <style>
        body {
            background-color: #6e128e;
            /* background-color: #7e2483; */
            /* background-color: #812990; */
            /* background-color: #7f338e; */
        }

        #message {
            color: white;
            margin: 20vh 20vw;
            font-size: 5vw;
            width: 60vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #message a {
            color: white;
            text-decoration: underline;
        }
    </style>
</body>