<!DOCTYPE html>

<head>
    <title>Vote</title>
</head>

<body>
    <div id="message">
        Your (authenticated as <%= email %>) can vote only once.

    </div>
    <br>
    <form id="form">
        Q1: Choose your favorite weekday:
        <br>
        <fieldset name="Q1" id="Q1">
            <label><input type="radio" name="Q1" value="Mon">Mon</label><br>
            <label><input type="radio" name="Q1" value="Tue">Tue</label><br>
            <label><input type="radio" name="Q1" value="Wed">Wed</label><br>
            <label><input type="radio" name="Q1" value="Thu">Thu</label><br>
            <label><input type="radio" name="Q1" value="Fri">Fri</label><br>
        </fieldset>
        <br>
        Q2: Choose your months you like:
        <br>
        <fieldset id="Q2" name="Q2">
            <input type="checkbox" name="Q2-January" value="January">January</input><br>
            <input type="checkbox" name="Q2-February" value="February">February</input><br>
            <input type="checkbox" name="Q2-March" value="March">March</input><br>
            <input type="checkbox" name="Q2-April" value="April">April</input><br>
            <input type="checkbox" name="Q2-May" value="May">May</input><br>
            <input type="checkbox" name="Q2-June" value="June">June</input><br>
            <input type="checkbox" name="Q2-July" value="July">July</input><br>
            <input type="checkbox" name="Q2-August" value="August">August</input><br>
            <input type="checkbox" name="Q2-September" value="September">September</input><br>
            <input type="checkbox" name="Q2-October" value="October">October</input><br>
            <input type="checkbox" name="Q2-November" value="November">November</input><br>
            <input type="checkbox" name="Q2-December" value="December">December</input><br>
        </fieldset>
    </form>

    <div id="preview"></div>

    <br><br>
    <div class="link"><a id="preview_link" onclick="preview()" href="#">Preview your vote</a></div>

    <div class="link"><a id="submit_link" onclick="submit()" href="#" style="display: none;">Submit your vote</a></div>

    <br>
    <div class="link"><a id="reset_link" onclick="location.reload()" href="#" style="display: none;">Reset your
            vote</a></div>

    <script>
        function preview() {
            document.getElementById("message").innerText = "Please submit your vote after reivewing:"
            document.getElementById("form").style.display = "none"
            document.getElementById("preview").innerText = JSON.stringify(Object.fromEntries(new FormData(document.getElementsByTagName('form')[0]))).replace(/[\"\'\{\}\/\\[\]\:\|\<>\+\=\;\,\?\*]/g, " ");
            document.getElementById("preview_link").style.display = "none"
            document.getElementById("submit_link").style.display = "block"
            document.getElementById("reset_link").style.display = "block"
        }
        function submit() {
            document.getElementById("message").innerText = "Your choices are being saved."
            document.getElementById("preview").style.display = "none"
            document.getElementById("submit_link").style.display = "none"
            document.getElementById("reset_link").style.display = "none"
            fetch("/vote", {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: JSON.stringify(Object.fromEntries(new FormData(document.getElementsByTagName('form')[0]))).replace(/[\"\'\{\}\/\\[\]\:\|\<>\+\=\;\,\?\*]/g, " ")
            }).then(response => response.text()).then(data => {
                document.getElementById("message").innerText = data;
            });
        };
    </script>
    <style>
        body {
            background-color: #6e128e;
            /* background-color: #7e2483; */
            /* background-color: #812990; */
            /* background-color: #7f338e; */
            color: white;
            margin: 20vh 20vw;
            font-size: 5vw;
            width: 60vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }


        #message a {
            color: white;
            text-decoration: underline;
        }

        fieldset {
            border-width: 0px;
            padding: 0;
            margin: 0
        }

        input[type="radio"i] {
            width: 3vw;
            height: 3vw;
            background-color: initial;
            cursor: default;
            appearance: auto;
            box-sizing: border-box;
            margin: 0 3vw;
            padding: initial;
            border: initial;
        }

        input[type="checkbox"i] {
            width: 3vw;
            height: 3vw;
            background-color: initial;
            cursor: default;
            appearance: auto;
            box-sizing: border-box;
            margin: 0 3vw;
            padding: initial;
            border: initial;
        }

        #form {
            color: white;
            font-size: 5vw;
            width: 60vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .link a {
            color: white;

        }
    </style>
</body>