<!DOCTYPE html>

<head>
    <title>Vote</title>
</head>

<body>
    <div id="question" style="display: none">
        <%= question %>
    </div>
    <div id="csrfToken" style="display: none">
        <%= csrfToken %>
    </div>
    <div id="message">
        Your (authenticated as <%= email %>) can vote only once.

    </div>
    <br>
    <form id="form"></form>

    <div id="preview"></div>

    <div class="link">
        <a id="preview_link" onclick="preview()" href="#">Preview your vote</a>
    </div>
    <br>

    <div class="link">
        <a id="submit_link" onclick="submit()" href="#" style="display: none;">Submit your vote</a>
    </div>
    <br>

    <div class="link">
        <a id="reset_link" onclick="location.reload()" href="#" style="display: none;">Reset your vote</a>
    </div>






    <script>
        const QUESTION = JSON.parse(document.getElementById("question").innerText);
        window.addEventListener('DOMContentLoaded', (event) => {
            let resHTML = "";
            for (let i = 0; i < QUESTION.length; i++) {
                resHTML += `Q${i + 1}: ${QUESTION[i].question}<br>`;
                resHTML += `<fieldset id="Q${i + 1}" min="${QUESTION[i].min}" max="${QUESTION[i].max}">`;
                for (let index = 0; index < QUESTION[i].answer.length; index++) {
                    resHTML += `<input type="checkbox" name="Q${i + 1}-${QUESTION[i].answer[index][0]}" value="">${QUESTION[i].answer[index][1]}</input><br>`
                }
                resHTML += `</fieldset><br>`
            }
            document.getElementById("form").innerHTML = resHTML;
        });
        function preview() {
            document.getElementById("message").innerText = "Please submit your vote after reviewing:"
            document.getElementById("form").style.display = "none"
            document.getElementById("preview").innerText = JSON.stringify(Object.fromEntries(new FormData(document.getElementsByTagName('form')[0]))).replace(/[\"\'\{\}\/\\\[\]\:\|\<\>\+\=\;\,\?\*]/g, " ").replace(/\s+/g, " ").replace(/^ /, "").replace(/ $/, "")
            document.getElementById("preview_link").style.display = "none"
            document.getElementById("submit_link").style.display = "block"
            document.getElementById("reset_link").style.display = "block"
        }
        function submit() {
            document.getElementById("message").innerText = "Your choices are being saved."
            document.getElementById("preview").style.display = "none"
            document.getElementById("submit_link").style.display = "none"
            document.getElementById("reset_link").style.display = "none"
            fetch("/vote", {
                method: 'POST',
                headers: {
                    'CSRF-Token': document.getElementById("csrfToken").innerText.replaceAll("\n", "").replaceAll(" ", ""),
                    'Content-Type': 'text/plain'
                },
                body: JSON.stringify(Object.fromEntries(new FormData(document.getElementsByTagName('form')[0]))).replace(/[\"\'\{\}\/\\\[\]\:\|\<\>\+\=\;\,\?\*]/g, " ").replace(/\s+/g, " ").replace(/^ /, "").replace(/ $/, "")
            }).then(response => response.text()).then(data => {
                document.getElementById("message").innerText = data;
            });
        };
    </script>
    <style>
        body {
            background-color: #6e128e;
            /* background-color: #7e2483; */
            /* background-color: #812990; */
            /* background-color: #7f338e; */
            color: white;
            margin: 20vh 20vw;
            font-size: 5vmin;
            width: 60vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }


        #message a {
            color: white;
            text-decoration: underline;
        }

        fieldset {
            border-width: 0px;
            padding: 0;
            margin: 0
        }

        input[type="radio"i] {
            width: 3vmin;
            height: 3vmin;
            background-color: initial;
            cursor: default;
            appearance: auto;
            box-sizing: border-box;
            margin: 0 3vmin;
            padding: initial;
            border: initial;
        }

        input[type="checkbox"i] {
            width: 3vmin;
            height: 3vmin;
            background-color: initial;
            cursor: default;
            appearance: auto;
            box-sizing: border-box;
            margin: 0 3vmin;
            padding: initial;
            border: initial;
        }

        #form {
            color: white;
            font-size: 5vmin;
            width: 60vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .link a {
            color: white;

        }
    </style>
</body>